@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* purple and dark */
  scrollbar-color: rgb(139 92 246) rgba(0, 0, 0, 0.25);
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

summary::before {
  content: "";
  border: solid black;
  margin-bottom: 2px;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  border-color: #fff;
  transform: rotate(-45deg);
  margin-right: 10px;
  transition: 0.12s transform ease;
}

details::details-content {
  height: 0;
  transition-duration: 0.25s;
}

details[open]::details-content {
  height: auto;
  height: calc-size(auto);
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
  transform: rotate(45deg);
}

details summary::-webkit-details-marker {
  display: none;
}

.highlighted {
  font-weight: bolder;
}

summary::marker {
  content: "";
}

::-webkit-details-marker {
  display: none;
}
